p{
	font-weight: bold;
}
.row{
	margin: 20px;
}
.gif{
	max-width: 200px;
	max-height: 200px;
	margin-top: 5px;
	margin-bottom: 15px;
}

.d-topic:nth-of-type(3n+1) {
  clear: both;

}

.topic-class{
	border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin: 10px;	
}